.popup__container {
    align-self: center;
    justify-self: center;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    padding: 36px;
    width: 358px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: end;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
    .popup__container {
        width: 238px;
        padding: 22px;
    }
}

/* не могу найти ошибку в позиционировании контейнера, верно открывается в хроме, сафари и яндексе на разных разрешениях */