.profile__description {
    grid-area: description;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .profile__description {
        width: 100%;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
    }
}