.form__container {
    align-self: center;
    justify-self: center;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    padding: 36px;
    width: 358px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: end;
}

@media screen and (max-width: 767px) {
    .form__container {
        width: 238px;
        padding: 24px;
    }
}