.footer {
    grid-area: footer;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #545454;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .footer {
        font-size: 14px;
        padding-top: 48px;
    }
}